html {
  background: grey;
}

.App {
  background: linear-gradient(90deg, rgba(38,128,43,1) 0%, rgba(137,210,104,1) 20%, rgba(109,187,3,1) 50%, rgba(156,209,120,1) 80%, rgba(143,224,132,1) 100%);
}



div {
  text-align: center;
}




.album-box {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center!important;
  padding-top: 1rem !important;
  border-radius: 25px !important;
  background-color: white;
  object-fit: contain !important;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.album-box img {
  max-width: 90%;
  height: auto;
}

.album-box h5 {
  padding: 1rem 0 0.5rem 0;
  size: 2rem;
}

#login-area {
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

li {
  text-align: left !important;
}

.guessed {
  color: red;
}

.not-guessed {
  color: white;
}

.form-label {
  font-size: 1.3rem !important;
}

#rule-area {
  background-color: white;
  border-radius: 25px;
  padding-top: 2rem;
}

.row {
  justify-content: center;
  align-items: center;
}

#header h1 {
  padding: 3rem 0;
  font-size: 4rem !important;
}

#footer {
  padding: 2.5rem 0;
  background-color: grey;
}

#footer a {
  color: white;
  font-size: 1.5rem;
}

#login-button img {
  max-width: 15%;
}

#login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.grid {
  border-radius: 25px !important;
}

#get-playlist-btn {
  margin-bottom: 21rem;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  padding:  0 0 3rem 0;
  display: flex !important;
  justify-content: center !important;
}

.song-box {
  display: flex;
  flex-direction: row !important;
  background-color: rgb(255 255 255 / 100%) !important;
  align-items: center;
  border-radius: 25px;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
}

.song-box img {
  max-width: 10%;
  padding-right: 1rem;
  padding-left: 2rem;
}


.fixed-guessing {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  width: 80%;
  z-index: 900;
}